
.top-content-border{
    position:relative;
}
.timeline-top{
    border-bottom:1px solid;
}

.slide-prah-timeline{
    position: absolute;
    left: 190px;
    top: 140px;
}
.buttom-content-fix{
    position:relative;
}
.slide-buttom-timeline{
    position: absolute;
    /* display: flex; */
    text-align: start;
    left: 380px;
    top: 20px;
}
.silde-image-timelin{
    display: inline!important;
}
.first-slide-content{
    padding-top:23px!important;
}
.heading-timeline-section{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    color: #23667B;
    text-align: center;
    padding-bottom: 35px;
}
.timelene-section{
    background-color: #F9F9F9;
    padding:80px 0;
}
.first-image-year-slide{
    padding-left:50px;
}


@media (min-width:768px) and (max-width:991px) {
    .slide-buttom-timeline {
        text-align: start;
        left: 387px;
        top: 9px;
    }
    .slide-prah-timeline {
        position: absolute;
        left: 155px;
        top: 151px;
    }
}

@media (min-width:820px) and (max-width:1180px) {
    .slide-buttom-timeline {
        text-align: start;
        left: 200px;
        top: 9px;
    }
}


@media (min-width:360px) and (max-width:767px) {
    .slide-buttom-timeline {
        position: absolute;
        text-align: start;
        left: 166px;
        top: 20px;
    }
    .slide-prah-timeline {
        position: absolute;
        left: 147px;
        top: 148px;
    }
    .timelene-section {
    background-color: #F9F9F9;
    padding: 40px 0;
}
}